/* index.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#summary p {
  font-size: 18px;
}
a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.home-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
